In [3]:
def sum_of_elements(lst):
    return sum(lst)

# Example usage
my_list = [1, 2, 3, 4, 5]
result = sum_of_elements(my_list)
print("Sum of elements:", result)

Sum of elements: 15

In [4]:
def multiply_numbers(lst):
    result = 1
    for num in lst:
        result *= num
    return result

# Example usage
my_list = [1, 2, 3, 4, 5]
result = multiply_numbers(my_list)
print("Product of numbers:", result)

Product of numbers: 120

In [5]:
def find_smallest(lst):
    return min(lst)

# Example usage
my_list = [5, 2, 8, 1, 9]
result = find_smallest(my_list)
print("Smallest number:", result)

Smallest number: 1

In [6]:
def find_largest(lst):
    return max(lst)

# Example usage
my_list = [5, 2, 8, 1, 9]
result = find_largest(my_list)
print("Largest number:", result)

Largest number: 9

In [7]:
def find_second_largest(lst):
    sorted_list = sorted(lst)
    return sorted_list[-2]

# Example usage
my_list = [5, 2, 8, 1, 9]
result = find_second_largest(my_list)
print("Second largest number:", result)

Second largest number: 8

In [8]:
def find_n_largest(lst, n):
    sorted_list = sorted(lst, reverse=True)
    return sorted_list[:n]

# Example usage
my_list = [5, 2, 8, 1, 9]
result = find_n_largest(my_list, 3)
print("3 largest numbers:", result)

3 largest numbers: [9, 8, 5]

In [9]:
def find_n_largest(lst, n):
    sorted_list = sorted(lst, reverse=True)
    return sorted_list[:n]

# Example usage
my_list = [5, 2, 8, 1, 9]
result = find_n_largest(my_list, 3)
print("3 largest numbers:", result)

3 largest numbers: [9, 8, 5]

In [10]:
def print_even_numbers(lst):
    even_numbers = [num for num in lst if num % 2 == 0]
    for num in even_numbers:
        print(num)

# Example usage
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print_even_numbers(my_list)

2
4
6
8
10

In [11]:
def print_odd_numbers(lst):
    odd_numbers = [num for num in lst if num % 2 != 0]
    for num in odd_numbers:
        print(num)

# Example usage
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print_odd_numbers(my_list)

1
3
5
7
9

In [12]:
def remove_empty_lists(lst):
    return [sublist for sublist in lst if sublist]

# Example usage
my_list = [[1, 2], [], [3, 4], [], [5, 6, 7], []]
result = remove_empty_lists(my_list)
print("List after removing empty lists:", result)

List after removing empty lists: [[1, 2], [3, 4], [5, 6, 7]]